<!-- demo/templates/user.html -->

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title><!--seam:user.name--> - Seam User</title>
  </head>
  <body>
    <main>
      <h1><!--seam:user.name--></h1>
      <p>
        Email:
        <!--seam:user.email-->
      </p>
      <!--seam:if:user.avatar-->
      <!--seam:user.avatar:attr:src--><img alt="avatar" width="64" height="64" />
      <!--seam:endif:user.avatar-->
      <p>
        ID:
        <!--seam:user.id-->
      </p>
    </main>
  </body>
</html>
